#### **FRIENDS**

EDA - VISUALIZACIONES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)

In [ ]:
df_episodes = pd.read_csv("./dataset_friends/friends_episodes_v3.csv", encoding="latin1")
df_episodes.head(1)

,Year_of_prod,Season,Episode Number,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,1,The One Where Monica Gets a Roommate: The Pilot,22,"Monica and the gang introduce Rachel to the ""r...",James Burrows,8.3,7440

In [4]:
df_info = pd.read_csv("./dataset_friends/friends_info.csv")
df_info.head(1)

,season,episode,title,directed_by,written_by,air_date,us_views_millions,imdb_rating
0,1,1,The Pilot,James Burrows,David Crane & Marta Kauffman,1994-09-22,21.5,8.3

In [5]:
df_quotes = pd.read_csv("./dataset_friends/friends_quotes.csv")
df_quotes.head(1)

,author,episode_number,episode_title,quote,quote_order,season
0,Monica,1.0,Monica Gets A Roommate,There's nothing to tell! He's just some guy I ...,0.0,1.0

In [7]:
df_episodes.columns

Index(['Year_of_prod', 'Season', 'Episode Number', 'Episode_Title', 'Duration',
       'Summary', 'Director', 'Stars', 'Votes'],
      dtype='object')

In [8]:
df_info.columns

Index(['season', 'episode', 'title', 'directed_by', 'written_by', 'air_date',
       'us_views_millions', 'imdb_rating'],
      dtype='object')

In [9]:
df_quotes.columns

Index(['author', 'episode_number', 'episode_title', 'quote', 'quote_order',
       'season'],
      dtype='object')

In [13]:
df_info['written_by'].nunique()

102